#dragg img{
    width: 250px;
     height: 250px;
  
}
/* droppable */
#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #CDDC39;
    color: #777620;
}
/* resizable */
#resizable { width: 150px; height: 150px; padding: 0.5em; background-color: aqua; }
#resizable h3 { text-align: center; margin: 0; font-size: 25px;  text-transform: uppercase; }
.div3{

}
/* selectable */
#feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable {list-style-type: none;margin: 0;padding: 0;width: 40%;}
  #selectable li {margin: 6px;padding: 5px 12px;font-size: 19px;/* height: 18px; */border: 1px solid;border-radius: 3px;}

  /* Sortable */
  #sortable {list-style-type: none;margin: 0;padding: 0;width: 40%;}
  #sortable li {margin: 0 3px 3px 3px;padding: 5px 10px;padding-left: 1.5em;font-size: 18px;/* height: 42px; */}
  #sortable li span {position: absolute;margin-left: -1.3em;margin-top: 5px;}
  /* autocomplete  */
  .form-control {
    width: 30%;
    margin-bottom: 10px;
  }
  .toggler {width: 264px;height: 100px;position: relative;}
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
    .ui-effects-transfer { border: 2px dotted gray; }

.toggler1 {
    margin-bottom: 10px;
}
.div6 {
    width: 40%;
}
label {
    display: inline-block;
    font-size: 20px;
    color: #2a4cdb;
}

.div14 {
    width: 30%;
}
.toggler4 { width: 500px; height: 200px; position: relative; }
#button4 { padding: .5em 1em; text-decoration: none; }
#effect4 { position: relative; }
.newClass { width: 240px;  padding: 1em; letter-spacing: 0; margin: 0; }
.anotherNewClass { text-indent: 40px; letter-spacing: .2em; width: 410px; height: 100px; padding: 30px; margin: 10px; font-size: 1.1em; }